body {
  margin: 10px;
}

article {
  font-family: "Lucida Sans";
}

h1::selection,
h2::selection,
p::selection {
  background-color: pink;
}

a:visited,
a:link {
  color: dodgerblue;
}

a:hover,
a:focus {
  color: deeppink;
}

#video {
  width: 560px;
  height: 300px;
}

.highlight {
  background-color: rgb(240, 208, 28);
}

article:nth-child(odd) {
  background-color: black;
  color: white;
}

td,
th {
  text-align: center;
  padding: 10px;
}

table,
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
}

th {
  background-color: dodgerblue;
}

tr:nth-child(odd) {
  background-color: lightblue;
}
